<script>       
    var passName = function(val){
        var contactSubject = document.getElementById("contact-subject");
        contactSubject.value = "DK Form - " + val;
    }
</script>

<form method="POST" action="https://formspree.io/&#109;&#97;&#105;&#108;&#109;&#97;&#110;&#64;&#100;&#97;&#110;&#107;&#108;&#97;&#109;&#109;&#101;&#114;&#46;&#99;&#111;&#109;" class="contact-form relative clearfix" style="margin: 0 -0.5rem">
    
    <div class="inline-block width-full lg-width-50 p2">
        <input type="text" name="name" placeholder="Your name" onblur="passName(this.value)" required class="width-full p2 br3">

    </div><div class="inline-block width-full lg-width-50 p2">
        <input type="email" name="_replyto" placeholder="Your email" required required class="width-full p2 br3">

    </div><div class="inline-block width-full p2">
        <textarea name="message" rows="4" cols="50" placeholder="Your message" required class="width-full p2 br3" style="resize:none"></textarea>

    </div>

    <input type="text" name="_gotcha" class="hide" />
    <input type="hidden" name="_subject" value="DK Form - " id="contact-subject" />
    <input type="hidden" name="_format" value="plain" />
    <input type="hidden" name="_next" value="/thanks/" />

    <button type="submit" value="Send" class="color-white bg-blue py1 px3 mx2 br3 right">Submit</button>

</form>
