<nav class="nav lg-nav bg-slate width-full align-center py3">
    <div class="navlink inline-block px3"><a href="/" {% if page.url == "/" or page.url contains "/work/" %}
               class="font-size-5 underline-none lowercase py3 color-white navlink-on" 
    {% else %} class="font-size-5 underline-none lowercase py3 color-white navlink-off" {% endif %}>Work</a></div><!--
    
 --><div class="navlink inline-block px3"><a href="/articles/" {% if page.url contains "/articles/" %}
               class="font-size-5 underline-none lowercase py3 color-white navlink-on" 
    {% else %} class="font-size-5 underline-none lowercase py3 color-white navlink-off" {% endif %}>Articles</a></div><!--
    
 --><div class="navlink inline-block px3"><a href="/about/" {% if page.url contains "/about/" %}
               class="font-size-5 underline-none lowercase py3 color-white navlink-on" 
    {% else %} class="font-size-5 underline-none lowercase py3 color-white navlink-off" {% endif %}>About</a></div><!--
    
 --><div class="navlink inline-block px3"><a href="/contact/" {% if page.url contains "/contact/" %}
               class="font-size-5 underline-none lowercase py3 color-white navlink-on" 
    {% else %} class="font-size-5 underline-none lowercase py3 color-white navlink-off" {% endif %}>Contact</a></div>

</nav>