
/* Custom Properties */

.font-menlo { font-family: Menlo, Consolas, Monaco, monospace }
.font-avenir { font-family: 'Avenir Next', Avenir, 'Helvetica Neue', helvetica, sans-serif }

.color-white { color: #fff }
.color-gray { color: #3f414e }
.color-slate { color: #282b31 }
.color-blue { color: #3498db }

.bg-white { background: #fff }
.bg-gray { background: #3f414e }
.bg-slate { background: #282b31 }
.bg-blue { background: #3498db }


/* Custom Media Queries */

@media (min-width: 60rem) {

    .lg-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
        height: 100vh;
    }

    .lg-page {
        margin-left: 35%;
    }

    .lg-nav {
        width: 65%;
        position: fixed;
        top: 0;
        right: 0;
        height: 7rem;
        background: linear-gradient(to bottom, rgba(255,255,255,0.96) 60%,rgba(255,255,255,0) 100%);
    }

    .lg-article {
        padding: 7rem 0 5rem;
    }

}