---
layout: default
---

<div class="site-page lg-page lg-height-full">

  {% include layout/nav.html %}

  <article class="lg-article lg-height-full lg-align-middle pb7 article-top-padding article-side-padding">
    <section class="section-max-width width-full center-block">

    <h1 class="font-size-1 line-height-none pt3">{{ page.title }}</h1>
    <div class="page-content">
        {{ content }}
    </div>

    </section>
  </article>

  {% include layout/header.html %}

</div>

<script>
  {% include layout/scripts.js %}
</script>