---
layout: default
---
<article class="lg-post lg-height-full lg-align-middle p3" itemscope itemtype="http://schema.org/BlogPosting">
  <section class="lg-section center-block" style="max-width: 34rem" >

      <header class="post-header">
        <h1 class="post-title font-size-2" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} <small class="font-size-8 p2">&bull;</small> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

  </section>
</article>

{% include footer.html %}
