---
layout: default
---

<article class="site-project lg-post lg-height-full" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="center-block color-white text-shadow-medium box-shadow-light pt5" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0, rgba(0,0,0,0) 8rem), rgb({{ page.color }});">
      
      {% include subpage-logo.html %}
      {% include subpage-close.html %}

      <div class="center-block align-center line-height-none text-shadow-medium px3 pt7 pb3">
          <h2 class="font-size-1 pt3">{{ page.title }}</h2>
          <time class="block font-size-6 line-height-title tracking-wide opacity-8 py2">{{ page.year }}</time>
          <span class="font-size-5 line-height-title tracking-slight font-weight-5">{{ page.tagline }}</span>
      </div>

      {% if page.cover-image %}
      <div class="width-full center-block" style="max-width: 600px; height: 90vw; max-height: 400px; background-image: url({{ page.cover-image }}); background-position: center bottom; background-size: auto 100%; background-repeat: no-repeat">
      </div>
      {% endif %}


  </header>

  <style>
    .post-content a { color: rgb({{ page.color }}) }
  </style>

  <section class="width-full article-top-padding">

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </section>

</article>

{% include footer.html %}
{% include img-zoom.js %}
{% include photoswipe.html %}

<script>
  console.log("from = " + sessionStorage.getItem("via"));
  if (sessionStorage.getItem("via") == "home") {
    document.getElementById("close-post").setAttribute("onclick", "window.history.back(); return false;");
  }
</script>