---
layout: default
---

<article class="site-project lg-post lg-height-full" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="center-block color-white text-shadow-medium box-shadow-light pt5" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0, rgba(0,0,0,0) 8rem), rgb({{ page.color }});">
      
      {% include subpage-logo.html %}
      {% include subpage-close.html %}

      <div class="center-block align-center line-height-none px3 pt7 pb3">
          <h1 class="font-size-1">{{ page.title }}</h1>
          <div class="block font-size-3 font-weight-3 py3">{{ page.tagline }}</div>
          <div class="inline-block font-size-6 font-weight-4 tracking-slight br5 px3 py2 mt1 mb2" style="background: rgba(0,0,0,0.12)">
            {{ page.year }} <small class="bullet inline-block-middle opacity-7">&bull;</small> {{ page.role }}
          </div>
      </div>

      {% if page.hero-image %}
      <div class="width-full center-block" style="height: 80vw; max-height: 435px; background-image: url({{ page.hero-image }}); background-position: center bottom; background-size: auto 100%; background-repeat: {{ page.hero-repeat }}">
      </div>
      {% endif %}


  </header>

  <style>
    .post-content a { color: rgb({{ page.color }}) }
  </style>

  <section class="width-full article-top-padding">

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </section>

</article>

{% include footer.html %}
{% include img-zoom.js %}
{% include photoswipe.html %}

<script>
  console.log("from = " + sessionStorage.getItem("via"));
  if (sessionStorage.getItem("via") == "home") {
    document.getElementById("close-post").setAttribute("onclick", "window.history.back(); return false;");
  }
</script>