---
layout: default
---

<article class="site-project lg-post lg-height-full" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="center-block color-white text-shadow-medium box-shadow-light pt5" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0, rgba(0,0,0,0) 8rem), rgb({{ page.color }});">
      
      {% include subpage-logo.html %}

      <div onclick="window.history.back()" id="close-post" class="absolute t0 r0 hide line-height-none dim-color-white svg-shadow-medium p3 pointer">
          <svg viewBox="0 0 32 32" width="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="8%">
              <title>All Work</title>
              <path d="M2 30 L30 2 M30 30 L2 2" />
          </svg>
      </div>

      <div class="center-block align-center line-height-none text-shadow-medium px3 pt7 pb3">
          <h2 class="font-size-1 pt3">{{ page.title }}</h2>
          <time class="block font-size-6 line-height-title tracking-wide opacity-8 py2">{{ page.year }}</time>
          <span class="font-size-5 line-height-title tracking-slight font-weight-5">{{ page.tagline }}</span>
      </div>

      {% if page.cover-image %}
      <img src="{{ page.cover-image }}" width="450" height="400" class="center-block width-full no-select" style="max-width: 540px">
      {% endif %}

  </header>

  <style>
    .post-content a { color: rgb({{ page.color }}) }
  </style>

  <section class="section-max-width width-full center-block pb7 article-top-padding article-side-padding">

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </section>

</article>

{% include footer.html %}
{% include img-zoom.js %}

<script>
  console.log("from = " + sessionStorage.getItem("via"));
  if (sessionStorage.getItem("via") == "home") {
    document.getElementById("close-post").style.display = "block";
  }
</script>