---
layout: default
title: Articles
permalink: /articles/
---

<div class="lg-page lg-height-full">

  {% include nav.html %}

  <div class="lg-article lg-height-full lg-align-middle pt3 px2 pb5">
    <section class="lg-section center-block" style="max-width: 34rem" >

      <h1 class="font-size-1 pb2">{{ page.title }}</h1>

      <ul class="list-reset" style="border-top: 0.125rem solid #eff1f5">
        {% for post in site.categories.articles %}
          <div style="border-bottom: .125rem solid #eff1f5">
          <a href="{{ post.url | prepend: site.baseurl }}" class="article-link block color-gray underline-none line-height-title px2 py3">
            <time class="font-size-7 font-weight-6 line-height-default lg-right mt3">{{ post.date | date: "%B %-d, %Y" }}</time>
            <h2 class="font-size-4 color-blue  line-height-none pt2 pb1">{{ post.title }}</h2>
            <h4 class="font-size-5">{{ post.subtitle }}</h4>
          </a>
        </div>
        {% endfor %}
      </ul>

      {% comment %}
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      {% endcomment %}

    </section>

  </div>

  {% include header.html %}

</div>

<script>
  sessionStorage.setItem("via", "articles");
</script>
